<% if signed_in? %>
<h1 class="text-center">Enter Form Details</h1>

<div class="row">
	  <div class="span12">
	<%= form_for(@formdetail) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>      
	  	<div class="span4">
			<%= f.label :owner_name, "Name of Owner:" %>
			<%= f.text_field :owner_name %>

			<%= f.label :ref_no, "Ref No:" %>
			<%= f.text_field :ref_no %>

			<%= f.label :bank, "Bank:" %>
			<%= f.select :bank, options_for_select(['City Bank', 'ICICI', 'Dena Bank', 'HDFC', 'State Bank of India']) %>

			<%= f.label :situated_at, "Sitituated At:" %>
			<%= f.text_field :situated_at %>

			<%= f.label :location, "Location:"  %>
			<%= f.select :location, options_for_select(['Pune', 'Ahmednagar', 'Mumbai']) %>

			<%= f.label :ownership, "Ownership:" %>
			<%= f.select :ownership, options_for_select(['Individual Ownership', 'Joint Ownership']) %>

			<%= f.label :area_type, "Area Type:"  %>
			<%= f.select :area_type, options_for_select(['High Class', 'Middle Class', 'Poor Class']) %>
		</div>

	  	<div class="span4 offset2">
			<%= f.label :valuer_name, "Valuer Name:" %>
			<%= f.text_field :valuer_name %>

			<%= f.label :agreed_date, "Date:" %>
			<%= f.date_field :agreed_date, placeholder: "dd/mm/yyyy" %> 

			<%= f.label :site_visit_date, "Site Visit Date:" %>
			<%= f.date_field :site_visit_date, placeholder: "dd/mm/yyyy" %> 


			<%= f.label :build_up_area, "Build up area:" %>
			<%= f.text_field :build_up_area %>

			<%= f.label :valuation_rate, "Valuation Rate:", placeholder: "per sq mtrs" %>
			<%= f.text_field :valuation_rate %>

			<%= f.label :valuation_place, "Valuation Place:" %>
			<%= f.text_field :valuation_place %>

			<%= f.label :property_type, "Property Type:" %>
			<%= f.select :property_type, options_for_select(['Residential', 'Commercial', 'Mixed', 'Industrial']) %> 
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="span4">
			<%= f.submit "Submit Details", class: "btn btn-primary btn-large pull-left" %>
		</div>
	</div>
</div>
<% end %>
<% else %>
  <script type="text/javascript">
    window.location.href="/login"  // put your correct path in a string here
  </script>
<% end %>