<!-- saved from url=(0087)http://www.pdf.investintech.com/preview/e9d1645c-6962-11e3-95e2-003048d80846/index.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_008{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_009{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="" width="595" height="841"></div>
<div style="position:absolute;left:48.60px;top:53.20px" class="cls_002"><span class="cls_002"><%= @formdetail.ref_no %></span></div>
<div style="position:absolute;left:323.47px;top:53.20px" class="cls_002"><span class="cls_002"><%= @formdetail.agreed_date %></span></div>
<div style="position:absolute;left:60.14px;top:82.38px" class="cls_003"><span class="cls_003">To :</span></div>
<div style="position:absolute;left:100.46px;top:82.38px" class="cls_003"><span class="cls_003">Branch Manager</span><span class="cls_002">, <%= @formdetail.bank %>, <%= @formdetail.situated_at %>, <%= @formdetail.location %> </span></div>
<div style="position:absolute;left:186.29px;top:112.02px" class="cls_008"><span class="cls_008">PART  II  VALUATION  CERTIFICATE</span></div>
<div style="position:absolute;left:48.60px;top:142.62px" class="cls_002"><span class="cls_002">It is hereby certified that the Fair Market Valuation of the Flat, which is now belonging to,</span></div>
<div style="position:absolute;left:48.60px;top:156.78px" class="cls_003"><span class="cls_003">Shri. <%= @formdetail.owner_name %> </span><span class="cls_002">situated on Plot No. 6 to 8, S.No. 129 / 5, <%= @formdetail.situated_at %>,</span></div>
<div style="position:absolute;left:48.60px;top:170.82px" class="cls_002"><span class="cls_002"><%= @formdetail.location %>, which is a <%= @formdetail.property_type %> property admeasuring </span><span class="cls_003"><%= @formdetail.build_up_area %> Sqm, </span><span class="cls_002">in my opinion is  </span><span class="cls_003">Rs. <%= @formdetail.valuation_place %></span></div>
<div style="position:absolute;left:48.60px;top:200.58px" class="cls_005"><span class="cls_005">Rs. <%= @formdetail.valuation_place.to_words.titleize %> only.</span></div>
<div style="position:absolute;left:48.60px;top:232.98px" class="cls_002"><span class="cls_002">The above mensioned Valuation is Fair &amp; Reasonable &amp; as per prevailing Market Rate.</span></div>
<div style="position:absolute;left:48.60px;top:247.02px" class="cls_002"><span class="cls_002">This Valuation certified is as the date of inspection. The value of any items added after this date,</span></div>
<div style="position:absolute;left:48.60px;top:261.21px" class="cls_002"><span class="cls_002">does not fall in the scope of this valuation report.</span></div>
<div style="position:absolute;left:217.61px;top:290.85px" class="cls_008"><span class="cls_008">PART  III  DECLARATION</span></div>
<div style="position:absolute;left:48.60px;top:307.41px" class="cls_002"><span class="cls_002">I hereby declare that</span></div>
<div style="position:absolute;left:64.70px;top:335.61px" class="cls_002"><span class="cls_002">a)</span></div>
<div style="position:absolute;left:100.46px;top:335.61px" class="cls_002"><span class="cls_002">The  information  furnished  here  in  part  I,  is  true  and  correct</span></div>
<div style="position:absolute;left:100.46px;top:349.65px" class="cls_002"><span class="cls_002">to  the  best  of  my  knowledge  and  belief.</span></div>
<div style="position:absolute;left:64.70px;top:363.81px" class="cls_002"><span class="cls_002">b)</span></div>
<div style="position:absolute;left:100.46px;top:363.81px" class="cls_002"><span class="cls_002">I have no direct or indirect interest in the property valued ;</span></div>
<div style="position:absolute;left:65.06px;top:377.85px" class="cls_002"><span class="cls_002">c)</span></div>
<div style="position:absolute;left:100.46px;top:377.85px" class="cls_002"><span class="cls_002">I have personally inspected the property on  <%= @formdetail.site_visit_date %></span></div>
<div style="position:absolute;left:64.70px;top:392.01px" class="cls_002"><span class="cls_002">d)</span></div>
<div style="position:absolute;left:100.46px;top:392.01px" class="cls_002"><span class="cls_002">I have not been found guilty of misconduct in my professional capacity.</span></div>
<div style="position:absolute;left:64.70px;top:406.05px" class="cls_002"><span class="cls_002">e)</span></div>
<div style="position:absolute;left:100.46px;top:406.05px" class="cls_002"><span class="cls_002">Value  varies  with  the  purpose  and  date.  This  report  is  not  to  be  refered</span></div>
<div style="position:absolute;left:100.46px;top:420.21px" class="cls_002"><span class="cls_002">if  the  purpose  is  anything  other  than  mensioned  in  the  report.</span></div>
<div style="position:absolute;left:66.14px;top:434.27px" class="cls_002"><span class="cls_002">f)</span></div>
<div style="position:absolute;left:100.46px;top:434.27px" class="cls_002"><span class="cls_002">If any financial assistance is sought producing this property as collateral</span></div>
<div style="position:absolute;left:100.46px;top:448.43px" class="cls_002"><span class="cls_002">security the concerned Financial Institution is requested to verify the extent</span></div>
<div style="position:absolute;left:100.46px;top:462.47px" class="cls_002"><span class="cls_002">shown in this valuation  Report  with  respect  to  the  latest  legal  opinion.</span></div>
<div style="position:absolute;left:64.70px;top:476.63px" class="cls_002"><span class="cls_002">g)</span></div>
<div style="position:absolute;left:100.46px;top:476.63px" class="cls_002"><span class="cls_002">This  value  does  not  include  Stamp  Duty, Registration  or  any  other</span></div>
<div style="position:absolute;left:100.46px;top:490.67px" class="cls_002"><span class="cls_002">Governmental  and  Incidental  Expences  or  brokerage  charges  etc.</span></div>
<div style="position:absolute;left:64.70px;top:504.83px" class="cls_002"><span class="cls_002">h)</span></div>
<div style="position:absolute;left:100.46px;top:504.83px" class="cls_002"><span class="cls_002">This  Report  contains </span><span class="cls_009">Seven</span><span class="cls_002">  Pages.</span></div>
<div style="position:absolute;left:323.47px;top:659.90px" class="cls_003"><span class="cls_003"><%= @formdetail.valuer_name %></span></div>
<div style="position:absolute;left:48.60px;top:674.06px" class="cls_002"><span class="cls_002">Place</span></div>
<div style="position:absolute;left:100.46px;top:674.06px" class="cls_002"><span class="cls_002"><%= @formdetail.location %></span></div>
<div style="position:absolute;left:323.47px;top:674.06px" class="cls_002"><span class="cls_002">GovtRegdValuer - CAT - I / 560 of 1999 - 2000</span></div>
<div style="position:absolute;left:48.60px;top:688.10px" class="cls_002"><span class="cls_002">Date</span></div>
<div style="position:absolute;left:100.46px;top:688.10px" class="cls_002"><span class="cls_002"><%= @formdetail.agreed_date %></span></div>
<div style="position:absolute;left:323.47px;top:688.10px" class="cls_003"><span class="cls_003">Panel Valuer for Dhansampada Gr Big Sah Sty</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="" width="595" height="841"></div>
<div style="position:absolute;left:48.60px;top:98.58px" class="cls_002"><span class="cls_002"><%= @formdetail.ref_no %></span></div>
<div style="position:absolute;left:323.47px;top:98.58px" class="cls_002"><span class="cls_002"><%= @formdetail.agreed_date %></span></div>
<div style="position:absolute;left:60.14px;top:127.62px" class="cls_003"><span class="cls_003">To :</span></div>
<div style="position:absolute;left:100.46px;top:127.62px" class="cls_003"><span class="cls_003">Branch Manager</span><span class="cls_002">, <%= @formdetail.bank %>, <%= @formdetail.location %></span></div>
<div style="position:absolute;left:260.81px;top:155.82px" class="cls_003"><span class="cls_003">FORM O - 1</span></div>
<div style="position:absolute;left:250.97px;top:169.98px" class="cls_002"><span class="cls_002">( See Rule 8 D )</span></div>
<div style="position:absolute;left:159.38px;top:184.98px" class="cls_003"><span class="cls_003">REPORT OF VALUATION OF IMMOVABLE PROPERTY</span></div>
<div style="position:absolute;left:48.60px;top:213.18px" class="cls_002"><span class="cls_002">Name of Registered valuer&amp; Registration No</span></div>
<div style="position:absolute;left:309.31px;top:213.18px" class="cls_003"><span class="cls_003">:   <%= @formdetail.valuer_name %></span></div>
<div style="position:absolute;left:59.66px;top:227.22px" class="cls_002"><span class="cls_002">Chief Commissioner of Income Tax : <%= @formdetail.location %></span></div>
<div style="position:absolute;left:323.47px;top:227.22px" class="cls_002"><span class="cls_002">GovtRegdValuer - CAT - I / 560 of 1999 - 2000</span></div>
<div style="position:absolute;left:48.60px;top:241.38px" class="cls_003"><span class="cls_003">CENTRAL BOARD OF DIRECT TAXES</span></div>
<div style="position:absolute;left:323.47px;top:241.38px" class="cls_003"><span class="cls_003">Panel Valuer for Dhansampada Gr Big Sah Sty</span></div>
<div style="position:absolute;left:224.09px;top:270.45px" class="cls_009"><span class="cls_009">PART  I  -  QUESTIONAIRE</span></div>
<div style="position:absolute;left:48.60px;top:298.65px" class="cls_003"><span class="cls_003">GENERAL :-</span></div>
<div style="position:absolute;left:29.52px;top:326.85px" class="cls_002"><span class="cls_002">1</span></div>
<div style="position:absolute;left:48.60px;top:326.85px" class="cls_002"><span class="cls_002">Purpose for which valuation is made</span></div>
<div style="position:absolute;left:309.31px;top:326.85px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:326.85px" class="cls_002"><span class="cls_002">To find out the value of the property  for  the</span></div>
<div style="position:absolute;left:323.47px;top:341.01px" class="cls_002"><span class="cls_002">finantial Institution for Mortgage Purpose</span></div>
<div style="position:absolute;left:29.52px;top:369.21px" class="cls_002"><span class="cls_002">2</span></div>
<div style="position:absolute;left:48.60px;top:369.21px" class="cls_002"><span class="cls_002">Date  of  Valuation</span></div>
<div style="position:absolute;left:309.31px;top:369.21px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:369.21px" class="cls_002"><span class="cls_002">Site  visit  on</span></div>
<div style="position:absolute;left:384.72px;top:369.21px" class="cls_002"><span class="cls_002"><%= @formdetail.site_visit_date %></span></div>
<div style="position:absolute;left:323.47px;top:383.25px" class="cls_002"><span class="cls_002">Valuation given on <%= @formdetail.agreed_date %></span></div>
<div style="position:absolute;left:29.52px;top:411.45px" class="cls_002"><span class="cls_002">1</span></div>
<div style="position:absolute;left:48.60px;top:411.45px" class="cls_002"><span class="cls_002">Name of the owner</span></div>
<div style="position:absolute;left:309.31px;top:411.45px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:411.45px" class="cls_003"><span class="cls_003">Shri. <%= @formdetail.owner_name %></span></div>
<div style="position:absolute;left:29.52px;top:439.67px" class="cls_002"><span class="cls_002">4</span></div>
<div style="position:absolute;left:48.60px;top:439.67px" class="cls_002"><span class="cls_002">If the property is under joint ownership /</span></div>
<div style="position:absolute;left:48.60px;top:453.83px" class="cls_002"><span class="cls_002">co-ownership, share of each such owner</span></div>
<div style="position:absolute;left:309.31px;top:453.83px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:453.83px" class="cls_002"><span class="cls_002"><%= @formdetail.ownership %></span></div>
<div style="position:absolute;left:48.60px;top:467.87px" class="cls_002"><span class="cls_002">Are the shares undivided ?</span></div>
<div style="position:absolute;left:29.52px;top:496.07px" class="cls_002"><span class="cls_002">5</span></div>
<div style="position:absolute;left:48.60px;top:496.07px" class="cls_002"><span class="cls_002">Brief description of the property</span></div>
<div style="position:absolute;left:309.31px;top:496.07px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:496.07px" class="cls_002"><span class="cls_002">Flat</span></div>
<div style="position:absolute;left:29.52px;top:524.27px" class="cls_002"><span class="cls_002">6</span></div>
<div style="position:absolute;left:48.60px;top:524.27px" class="cls_002"><span class="cls_002">Location, street, Ward No.</span></div>
<div style="position:absolute;left:309.31px;top:524.27px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:524.27px" class="cls_002"><span class="cls_002"><%= @formdetail.situated_at %>,</span></div>
<div style="position:absolute;left:323.47px;top:538.43px" class="cls_002"><span class="cls_002"><%= @formdetail.location %></span></div>
<div style="position:absolute;left:29.52px;top:566.63px" class="cls_002"><span class="cls_002">7</span></div>
<div style="position:absolute;left:48.60px;top:566.63px" class="cls_002"><span class="cls_002">Survey / Plot No of land</span></div>
<div style="position:absolute;left:309.31px;top:566.63px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:566.63px" class="cls_002"><span class="cls_002">Plot No. 6 to 8, S. No. 129 / 5</span></div>
<div style="position:absolute;left:29.52px;top:594.83px" class="cls_002"><span class="cls_002">8</span></div>
<div style="position:absolute;left:48.60px;top:594.83px" class="cls_002"><span class="cls_002">Is the property in residential / Commercial /</span></div>
<div style="position:absolute;left:309.31px;top:594.83px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:594.83px" class="cls_002"><span class="cls_002"><%= @formdetail.property_type %></span></div>
<div style="position:absolute;left:48.60px;top:608.90px" class="cls_002"><span class="cls_002">Mixed area / Industrial area</span></div>
<div style="position:absolute;left:29.52px;top:637.10px" class="cls_002"><span class="cls_002">9</span></div>
<div style="position:absolute;left:48.60px;top:637.10px" class="cls_002"><span class="cls_002">Classification of locality - high class /</span></div>
<div style="position:absolute;left:309.31px;top:637.10px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:637.10px" class="cls_002"><span class="cls_002">Middle  class.</span></div>
<div style="position:absolute;left:48.60px;top:651.26px" class="cls_002"><span class="cls_002">middle class / poor class</span></div>
<div style="position:absolute;left:26.88px;top:679.46px" class="cls_002"><span class="cls_002">10</span></div>
<div style="position:absolute;left:48.60px;top:679.46px" class="cls_002"><span class="cls_002">Proximity to civic amenities like schools,</span></div>
<div style="position:absolute;left:309.31px;top:679.46px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:679.46px" class="cls_002"><span class="cls_002">Available nearby.</span></div>
<div style="position:absolute;left:48.60px;top:693.50px" class="cls_002"><span class="cls_002">hospitals, offices, market, cinemas etc.</span></div>
<div style="position:absolute;left:26.88px;top:721.70px" class="cls_002"><span class="cls_002">11</span></div>
<div style="position:absolute;left:48.60px;top:721.70px" class="cls_002"><span class="cls_002">Means &amp; proximity to surface communication</span></div>
<div style="position:absolute;left:309.31px;top:721.70px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:721.70px" class="cls_002"><span class="cls_002">Asphalt Road is available upto  main  entrance</span></div>
<div style="position:absolute;left:48.60px;top:735.86px" class="cls_002"><span class="cls_002">by which the locality is served</span></div>
<div style="position:absolute;left:323.47px;top:735.86px" class="cls_002"><span class="cls_002">of  the  property</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:1702px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="" width="595" height="841"></div>
<div style="position:absolute;left:26.88px;top:70.36px" class="cls_002"><span class="cls_002">12</span></div>
<div style="position:absolute;left:48.60px;top:70.36px" class="cls_002"><span class="cls_002">Area of  Flat supported by documentary</span></div>
<div style="position:absolute;left:309.31px;top:70.36px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:70.36px" class="cls_002"><span class="cls_002"><%= @formdetail.build_up_area%> Sqm</span></div>
<div style="position:absolute;left:48.60px;top:84.42px" class="cls_002"><span class="cls_002">proof, shape, dimensions &amp; physical features</span></div>
<div style="position:absolute;left:26.88px;top:112.62px" class="cls_002"><span class="cls_002">13</span></div>
<div style="position:absolute;left:48.60px;top:112.62px" class="cls_002"><span class="cls_002">Roads,streets or lanes on which the</span></div>
<div style="position:absolute;left:309.31px;top:112.62px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:112.62px" class="cls_002"><span class="cls_002"><%= @formdetail.situated_at %>, <%= @formdetail.location %></span></div>
<div style="position:absolute;left:48.60px;top:126.78px" class="cls_002"><span class="cls_002">land is abutting.</span></div>
<div style="position:absolute;left:26.88px;top:154.98px" class="cls_002"><span class="cls_002">14</span></div>
<div style="position:absolute;left:48.60px;top:154.98px" class="cls_002"><span class="cls_002">Is it freehold or lease - hold land /</span></div>
<div style="position:absolute;left:309.31px;top:154.98px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:154.98px" class="cls_002"><span class="cls_002">Freehold Property, Society Membership</span></div>
<div style="position:absolute;left:26.88px;top:183.18px" class="cls_002"><span class="cls_002">15</span></div>
<div style="position:absolute;left:48.60px;top:183.18px" class="cls_002"><span class="cls_002">If lease - hold,the name of lessor / lessee,</span></div>
<div style="position:absolute;left:48.60px;top:197.22px" class="cls_002"><span class="cls_002">nature of lease. Dates of commencement</span></div>
<div style="position:absolute;left:48.60px;top:211.38px" class="cls_002"><span class="cls_002">and termination of lease and the terms</span></div>
<div style="position:absolute;left:48.60px;top:225.42px" class="cls_002"><span class="cls_002">of renewal of lease.</span></div>
<div style="position:absolute;left:309.31px;top:225.42px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:225.42px" class="cls_002"><span class="cls_002">Not Applicable.</span></div>
<div style="position:absolute;left:65.06px;top:239.58px" class="cls_002"><span class="cls_002">a)   Initial prenium</span></div>
<div style="position:absolute;left:65.06px;top:253.65px" class="cls_002"><span class="cls_002">b)  Ground rent payable per annum</span></div>
<div style="position:absolute;left:65.18px;top:267.81px" class="cls_002"><span class="cls_002">c)   Unearned increase payable to  the</span></div>
<div style="position:absolute;left:81.62px;top:281.85px" class="cls_002"><span class="cls_002">lessor in the event of sale or transfer</span></div>
<div style="position:absolute;left:26.88px;top:310.05px" class="cls_002"><span class="cls_002">16</span></div>
<div style="position:absolute;left:48.60px;top:310.05px" class="cls_002"><span class="cls_002">Is there any restrictive covenantin</span></div>
<div style="position:absolute;left:48.60px;top:324.21px" class="cls_002"><span class="cls_002">regard to use of land ? If so,</span></div>
<div style="position:absolute;left:309.31px;top:324.21px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:324.21px" class="cls_002"><span class="cls_002">No</span></div>
<div style="position:absolute;left:48.60px;top:338.25px" class="cls_002"><span class="cls_002">attach a copy of the covenant.</span></div>
<div style="position:absolute;left:26.88px;top:366.45px" class="cls_002"><span class="cls_002">17</span></div>
<div style="position:absolute;left:48.60px;top:366.45px" class="cls_002"><span class="cls_002">Are there any agreements of easements ?</span></div>
<div style="position:absolute;left:309.31px;top:366.45px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:366.45px" class="cls_002"><span class="cls_002">No</span></div>
<div style="position:absolute;left:48.60px;top:380.61px" class="cls_002"><span class="cls_002">if so, attach copies.</span></div>
<div style="position:absolute;left:26.88px;top:408.81px" class="cls_002"><span class="cls_002">18</span></div>
<div style="position:absolute;left:48.60px;top:408.81px" class="cls_002"><span class="cls_002">Does the land fall in an area included in any</span></div>
<div style="position:absolute;left:48.60px;top:422.85px" class="cls_002"><span class="cls_002">Town Planning Plan of Government or any</span></div>
<div style="position:absolute;left:309.31px;top:422.85px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:422.85px" class="cls_002"><span class="cls_002">No.</span></div>
<div style="position:absolute;left:48.60px;top:437.03px" class="cls_002"><span class="cls_002">statutory body ? if so, give particulars</span></div>
<div style="position:absolute;left:26.88px;top:465.23px" class="cls_002"><span class="cls_002">19</span></div>
<div style="position:absolute;left:48.60px;top:465.23px" class="cls_002"><span class="cls_002">Has any contribution been made towards</span></div>
<div style="position:absolute;left:309.31px;top:465.23px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:465.23px" class="cls_002"><span class="cls_002">No</span></div>
<div style="position:absolute;left:48.60px;top:479.27px" class="cls_002"><span class="cls_002">developent or is any demand for</span></div>
<div style="position:absolute;left:26.88px;top:507.47px" class="cls_002"><span class="cls_002">20</span></div>
<div style="position:absolute;left:48.60px;top:507.47px" class="cls_002"><span class="cls_002">Has the whole or part of the land</span></div>
<div style="position:absolute;left:48.60px;top:521.63px" class="cls_002"><span class="cls_002">been modified for acquisition by</span></div>
<div style="position:absolute;left:309.31px;top:521.63px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:521.63px" class="cls_002"><span class="cls_002">No</span></div>
<div style="position:absolute;left:48.60px;top:535.67px" class="cls_002"><span class="cls_002">Government or any statutory body ?</span></div>
<div style="position:absolute;left:48.60px;top:549.83px" class="cls_002"><span class="cls_002">Give date of the notification.</span></div>
<div style="position:absolute;left:26.88px;top:578.03px" class="cls_002"><span class="cls_002">21</span></div>
<div style="position:absolute;left:48.60px;top:578.03px" class="cls_002"><span class="cls_002">Site  Location</span></div>
<div style="position:absolute;left:309.31px;top:578.03px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:578.03px" class="cls_002"><span class="cls_002"><%= @formdetail.situated_at %>, <%= @formdetail.location %></span></div>
<div style="position:absolute;left:323.47px;top:592.07px" class="cls_002"><span class="cls_002"></span></div>
<div style="position:absolute;left:48.60px;top:607.10px" class="cls_003"><span class="cls_003">IMPROVEMENTS :-</span></div>
<div style="position:absolute;left:26.88px;top:635.30px" class="cls_002"><span class="cls_002">22</span></div>
<div style="position:absolute;left:48.60px;top:635.30px" class="cls_002"><span class="cls_002">Attach plans &amp; elevations of all structures</span></div>
<div style="position:absolute;left:309.31px;top:635.30px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:635.30px" class="cls_002"><span class="cls_002">Plan copy is attached with the report</span></div>
<div style="position:absolute;left:48.60px;top:649.46px" class="cls_002"><span class="cls_002">standing on the land and a lay - out plan</span></div>
<div style="position:absolute;left:26.88px;top:677.66px" class="cls_002"><span class="cls_002">23</span></div>
<div style="position:absolute;left:48.60px;top:677.66px" class="cls_002"><span class="cls_002">Furnish technical details of the building</span></div>
<div style="position:absolute;left:309.31px;top:677.66px" class="cls_003"><span class="cls_003">:</span></div>
<div style="position:absolute;left:323.47px;top:677.66px" class="cls_002"><span class="cls_002">Please refer Annexure to form 0-1</span></div>
<div style="position:absolute;left:48.60px;top:691.70px" class="cls_002"><span class="cls_002">on a separate sheet.</span></div>
<div style="position:absolute;left:323.47px;top:691.70px" class="cls_002"><span class="cls_002">attached</span></div>
<div style="position:absolute;left:26.88px;top:719.90px" class="cls_002"><span class="cls_002"></span></div>
<div style="position:absolute;left:48.60px;top:719.90px" class="cls_002"><span class="cls_002"></span></div>
</div>



</body></html>